{% extends "layouts/default.html" %}

{% block title %}Создание документа{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="page-heading">
                <h2>Добавление тренинга</h2>

                <a href="/">Назад в аккаунт</a>
            </div>


            <form action="/educations/store" method="post">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Наименование</label>
                            <input type="text" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <label>Дата</label>
                            <input type="date" name="date" class="form-control" required>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}