{% extends "layouts/default.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="page-heading">
                <h2>Создание документа</h2>

                <a href="#">Назад к документам</a>
            </div>


            <form action="/admin/documents/store" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Название документа</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="file" name="file">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Добавить документ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}