{% extends "layouts/default.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            {% if status %}
                <div class="page-heading">
                    <h2>Результаты теста: {{ test.title }}</h2>
                </div>

                <table class="table">
                    <tr>
                        <td>Затраченое время:</td>
                        <td>{{ testResult.result_time }}</td>
                    </tr>
                    <tr>
                        <td>Всего ответов:</td>
                        <td>{{ resultData.count }}</td>
                    </tr>
                    <tr>
                        <td>Верных ответов:</td>
                        <td>{{ resultData.countSuccess }}</td>
                    </tr>
                </table>
            {% else %}
                <div class="page-heading">
                    <h2>Тест: {{ test.title }}</h2>
                </div>

                {% if testResult %}
                <div id="timer"
                     data-status="{{ testResult.status }}"
                     data-time-end="{{ dateEnd }}"
                     data-h="{{ dateDiff.h }}"
                     data-i="{{ dateDiff.i }}"
                     data-s="{{ dateDiff.s+1 }}">
                </div>
                {% endif %}

                <form action="" method="get">

                    {% for question in questions %}
                    {% if numberQuestion == question.number %}
                        <h4><span style="opacity: 0.7">Вопрос #{{ question.number }}:</span> {{ question.title }}</h4>
                        <br>
                        <input type="hidden" name="numberQuestion" value="{{ numberQuestion }}">
                        <input type="hidden" name="question_id" value="{{ question.id }}">

                        <ul class="list-group">
                            {% for answer in question.answers %}
                                <li class="list-group-item">
                                    {% if answer.correctly == 1 %}
                                    <input type="hidden" name="correctly" value="{{ answer.id }}">
                                    {% endif %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="answer_id" id="answer{{ answer.id }}" value="{{ answer.id }}" required>
                                        <label class="form-check-label" for="answer{{ answer.id }}">
                                            {{ answer.title }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                    {% endfor %}

                    <br>

                    {% if isUserAnswer %}
                    <a href="/testing/{{ test.id }}?numberQuestion={{ numberQuestion+1 }}">Перейти к след. вопросу</a>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Ответить</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}